* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #222222;
}

.cardGrid {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}




