* {
    margin: 0;
    padding: 0;
}

.cardDiv {
    padding: 0;
    margin: 1rem;
    font-family: "Segoe UI";
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
}

.imgBox {
    margin: 0;
    padding: 0;
}

.image {
    border-radius: 15px;
}

.description {
    font-style: normal;
    font-size: 15px;
}

.divTitle {
    border-radius: 15px;
}

